<div class="container mt-5">
  <h2>Your account at Travel Dream</h2>
  <p class="mt-5">
    <strong>Name</strong>: <%= "#{@user.first_name} #{@user.last_name}" %><br>
    <strong>Email</strong>: <%= @user.email %>
  </p>
  <p>
    <strong>Account number</strong>: <%= @user.customer_number %>
  </p>
  <p>
    <strong>Address</strong>: <%= "#{@user.street_name}, #{@user.street_number}, #{@user.zip} #{@user.city}" %>
  </p>
  <%= link_to "Back", root_path, class: "btn btn-success mt-5" %>
</div>